<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/index/css/index.css"/>
        <meta charset="UTF-8">
        <title>二货淘书</title>
    </head>
    <body>
        <div class="g-nav-t s-shadow s-bg1 f-tr js-g-nav ">
            <div class="m-logo s-f3">二货淘书</div>
            <ul class="m-tit s-f2">
                <li><a href="#" >首页</a></li>
                <li><a href="#">书库</a></li>
            </ul>
            <div class="m-user s-f4">
                <p class="u-register"><a href="#" onclick="">注册</a></p>
                <span class="u-or"><a href="#">或</a></span>
                <div class="u-login">
                    <div class="u-btn f-tr"><a href="#">登录</a></div>
                </div>
            </div>
            <form action="#" class="m-search">
                <input type="search" name="search" id="search-1" class="s-bd s-f1 js-search1 f-tr">
                <label for="search-1" class="i-search"></label>
            </form>
        </div>

        <div class="g-nav-r s-shadow s-bg1"></div>

        <div class="g-tit">
            <div class="f-center">
                <h1 class="s-f5">二货淘书</h1>
                <span class="u-explain">--淘你所爱</span>
            </div>
        </div>

        <div class="g-nav2 s-shadow">
            <form action="#" class="m-search2">
                <input type="search" name="search" id="search-2" class="s-bd js-search1 f-tr">
                <label for="search-2" class="i-search"></label>
            </form>
            <div class="m-user2 s-f4">
                <p class="u-register"><a href="#">注册</a></p>
                <span class="u-or"><a href="#">或</a></span>
                <div class="u-login">
                    <div class="u-btn f-tr"><a href="#">登录</a></div>
                </div>
            </div>
        </div>

        <div class="g-nav3 s-shadow">
            <div class="m-li1 m-li s-f2 f-tr">
                <ul>
                    <li class="s-bg1"><a href ="#">专业1</a></li>
                    <li ><a href ="#">专业2</a></li>
                    <li ><a href ="#">专业3</a></li>
                    <li ><a href ="#">专业4</a></li>
                    <li ><a href ="#">专业5</a></li>
                </ul>
            </div>
            <div class="m-li2 m-li">
                <ul class="f-show s-f2">
                    <li><a href ="#" class="s-fc">1科1</a></li>
                    <li><a href ="#">1科2</a></li>
                    <li><a href ="#">1科3</a></li>
                    <li><a href ="#">1科4</a></li>
                    <li><a href ="#">1科5</a></li>
                </ul>
                <ul class="f-hide s-f2">
                    <li><a href ="#" class="s-fc">2科1</a></li>
                    <li><a href ="#">2科2</a></li>
                    <li><a href ="#">2科3</a></li>
                    <li><a href ="#">2科4</a></li>
                    <li><a href ="#">2科5</a></li>
                </ul>
                <ul class="f-hide s-f2">
                    <li><a href ="#" class="s-fc">3科1</a></li>
                    <li><a href ="#">3科2</a></li>
                    <li><a href ="#">3科3</a></li>
                    <li><a href ="#">3科4</a></li>
                    <li><a href ="#">3科5</a></li>
                </ul>
                <ul class="f-hide s-f2">
                    <li><a href ="#" class="s-fc">4科1</a></li>
                    <li><a href ="#">4科2</a></li>
                    <li><a href ="#">4科3</a></li>
                    <li><a href ="#">4科4</a></li>
                    <li><a href ="#">4科5</a></li>
                </ul>
                <ul class="f-hide s-f2">
                    <li><a href ="#" class="s-fc">5科1</a></li>
                    <li><a href ="#">5科2</a></li>
                    <li><a href ="#">5科3</a></li>
                    <li><a href ="#">5科4</a></li>
                    <li><a href ="#">5科5</a></li>
                </ul>
            </div>
        </div>

        <div class="g-mn s-shadow">
            <div class="m-part s-shadow s-border">
                <h1 class="u-tit s-f3"><a href="#">高等数学</a></h1>
                <ul>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/etc.png" alt="">
                                <p class="u-tit2 f-tr">假装有图</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">人教版</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/grey.png" alt="">
                                <p class="u-tit2 f-tr">但是没有</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">苏教版</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/grey.png" alt="">
                                <p class="u-tit2 f-tr">也可能是</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">扯淡版</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/grey.png" alt="">
                                <p class="u-tit2 f-tr">你看不见</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">二手版</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/grey.png" alt="">
                                <p class="u-tit2 f-tr">仅此而已</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">发行版</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="details.html" class="js-box">
                            <div class="u-ct">
                                <img src="../../static/index/image/grey.png" alt="">
                                <p class="u-tit2 f-tr">真的有图</p>
                                <div class="u-ctHov u-ctHov-hide f-tr">人教版</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="m-page">
                <a href="#" class="u-prv z-dis">上一页</a>
                <a href="#" class="z-crt">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <i>...</i>
                <a href="#">10</a>
                <a href="#" class="u-nxt">下一页</a>
            </div>
        </div>

        <div class="g-ft s-shadow">
            CopyRight&copy;2017
        </div>

        <div class="g-cover" style="display: none;">
            <form class="g-login" action="#" style="display: none;">
                <div class="u-forms">
                    <input id="l-username" class="l-user f-tr2" type="text" placeholder="请输入您的用户名">
                    <input id="l-password" class="l-pwd f-tr2" type="password" placeholder="请输入您的密码">
                </div>
                <span class="links">
                    <a href="#" class="js-register">注册账号</a>
                    <a href="findpwd.html" class="js-findpwd">忘记密码？</a>
                </span>
                <input type="button" class="form-btn f-tr2" value="登录">
            </form>
            <form class="g-register" action="#" style="display: none;">
                <div class="u-forms">
                    <input id="r-username" class="l-user f-tr2" type="text" placeholder="请输入您的邮箱地址">
                    <label for="r-username"></label>
                    <input id="r-password" class="l-pwd f-tr2" type="password" placeholder="请输入您的密码">
                    <input id="r-password2" class="l-pwd2 f-tr2" type="password" placeholder="请再次输入您的密码">
                    <label for="r-password2"></label>
                    <div class="code-box">
                        <input id="code" class="l-code f-tr2" type="text" disabled="disabled" placeholder="请输入验证码">
                        <input type="button" class="code-btn" value="发送验证码">
                    </div>
                </div>
                <span class="links2">
                    <a href="#" class="js-login">已有账号？登录</a>
                </span>
                <input type="button" class="form-btn f-tr2 disable" disabled="disabled" value="注册">
            </form>
        </div>

        <script src="../../static/index/js/jquery-3.2.1.min.js"></script>
        <script>
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
        </script>
        <script src="../../static/index/js/index.js"></script>
    </body>
</html>
